body {
    background-image: linear-gradient(to right, #f4d58d, #708d81); /*same as #graphFrame (side_panel.css)*/
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/
}

#sessionList {
    position: absolute;
    height: 94%;
    width: 50%;
    top: 3%;
    left: 3%;
    background-color: #041424; /* same as #panelHeader (side_panel.css)*/
    text-align: right;
    overflow-y: auto;
}

#previewPane {
    position: absolute;
    height: 94%;
    width: 41%;
    top: 3%;
    left: 56%;
    background-color: #041424; /* same as #panelHeader (side_panel.css)*/
    text-align: center;
}
#previewPane div{
    margin: 5px;
    overflow: hidden
}

#imgBackground {
    background-image: linear-gradient(to right, #f4d58d, #708d81); /*same as #graphFrame (side_panel.css)*/
}

#previewPane hr{
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/
    border: 1px solid;
    width: 94%
}

#previewImg {
    width: 95%;
    margin: auto;
}

.historyElement {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #f4d58d; /* same as #panelHeader a (side_panel.css)*/
    padding: 10px;
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/
    display: flex;
    align-items: center;
}
.historyElement .label {
    margin-right: 10px;
    text-align: left;
    float: left;
    overflow: hidden;
}

.historyElement .opt {
    margin-left: auto;
    order: 2;
    text-align: right;
}