#howToPage {
    position: absolute;
    height: 70%;
    width: 70%;
    top: 15%;
    left: 15%;
    background-color: #f4d58d; /* same as #panelHeader (side_panel.css)*/
    border-radius: 20px;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    font-family:  'Century Gothic', sans-serif;
    
    text-shadow: 1px 1px #a8a8a8; /*yesil 708d81 ten f4d58d*/
    color:#041424;
}

#willowHowToHeader {
    padding: 10px;
    background-color: #f4d58d;
    color:#041424;
    vertical-align: middle;
    
}

#willow_header_how_to {
    text-align: center;
    font-size: 28px;
    line-height: 60px;
    text-shadow: 2px 2px #a8a8a8; /*yesil 708d81 ten f4d58d*/
}


/* details - summary tags */

.willow_detail{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
}

.willow_summary{
    color: #041424;
    font-weight: bold;
}

.nested_summary{
    color: #a01515;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
  
}

.details_p {
    padding: 7px;
    margin-left: 15px;
    color:#041424;
}

.nested_p {
    padding: 5px;
    margin-left: 15px;
}

p {
    color: #041424;
}

/* close button */ 
#how_to_close_btn {
    float: right;
    background-image: url('../../icons/close_dark.png');
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    
    cursor: pointer;
    background-color: #f4d58d;
    background-size: cover;
    border: none;
    opacity: 1;
    height: 16px;
    width: 16px;

    margin: 0%;
    padding: 0%;
    margin-top: 5px;
    margin-right: 10px; 
    
}


#how_to_close_btn:hover {
    opacity: 0.3;
}