#howToMenu
{
    position: absolute;
    background-color: #041424; /* same as #panelHeader (side_panel.css)*/
    border-radius: 20px;
    overflow: auto;
    box-shadow: 2px 2px 5px 2px #8d0801;
    user-select: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 10px;
    padding-bottom: 30px;


}
#menuHeader {
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    align-items: center;
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/
    line-height: 40px;
    font-size: 25px;
    text-shadow: 2px 2px #8d0801;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-top: 0px;
    
}

#willow_header_how_to {
    text-align: center;
    font-size: 28px;
    line-height: 60px;
    text-shadow: 2px 2px #8d0801;
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/

}


/* details - summary tags */

.willow_detail{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
    text-shadow: 2px 2px #8d0801;
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/
}

.willow_summary{
    color: #041424;
    font-weight: bold;
    text-shadow: 2px 2px #8d0801;
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/
}

.nested_summary{
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
    text-shadow: 2px 2px #8d0801;
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/
  
}

.details_p {
    padding: 7px;
    margin-left: 15px;
    text-shadow: 2px 2px #8d0801;
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/
}

.nested_p {
    padding: 5px;
    margin-left: 15px;
    text-shadow: 2px 2px #8d0801;
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/
}

p {
    text-shadow: 2px 2px #8d0801;
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/
}

/* close button */ 
#how_to_close_btn {
    float: right;
    background-image: url('../../icons/close_dark.png');
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    
    cursor: pointer;
    background-color: #041424;
    background-size: cover;
    border: none;
    opacity: 1;
    height: 16px;
    width: 16px;

    margin: 0%;
    padding: 0%;
    margin-top: 5px;
    margin-right: 10px; 
    
}


#how_to_close_btn:hover {
    opacity: 0.3;
}