
#infoPage {
    position: absolute;
    height: 70%;
    width: 70%;
    top: 15%;
    left: 15%;
    background-color: #f4d58d; /* same as #panelHeader (side_panel.css)*/
    text-align: center;
    border-radius: 20px;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
}

#willowInfoHeader {
    padding: 10px;
    background-color: #f4d58d;
    color:#041424;
    vertical-align: middle;
}

#willowInfoBody {
    padding: 10px;
    color: #041424; 
    vertical-align: middle;
    
}

#firstP {
    font-size: 25px;
}

#secondP {
    font-size: 18px;
}

#willow_footer {
    font-size: 10px;
}

/* close button */ 
#info_close_btn {
    float: right;
    background-image: url('../../icons/close.png');
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    
    cursor: pointer;
    background-color: #041424;
    background-size: cover;
    border: none;
    opacity: 1;
    height: 12px;
    width: 12px;
    
}


#info_close_btn:hover {
    opacity: 0.3;
}



