
#settingsMenu {
    position: absolute;
    height: 70%;
    width: 70%;
    top: 15%;
    left: 15%;
    background-color: #041424; /* same as #panelHeader (side_panel.css)*/
    text-align: center;
    border-radius: 20px;
    overflow: auto;
}

#menuHeader b {
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/
    line-height: 60px;
    font-size: 20px;
}

#menuBody{
    margin-top: 30px;
}
.settingElement {
    width: 90%;
    margin: auto;
    border: 1px solid #f4d58d; /* same as #panelHeader a (side_panel.css)*/
    padding: 10px;
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/
    
}
.settingElement .label {
    font-family:  'Century Gothic', sans-serif;
    display: inline-block;
    text-align: left;
    float: left;
    color: #f4d58d;
}

.settingElement .opt {
    display: inline-block;
    text-align: right;
    margin-inline: 5px;
}

.opt button{
    color:#f4d58d; /* same as #panelHeader a (side_panel.css)*/
    background-color: #911111;
    border-radius: 5px;
    border: none;
    font-weight: normal;
    padding: 3px;
    width: 100px;
}

#resetSizesPRBtn {
    margin-left: 20px;
}

/*Transparency*/
/*
#sliderTrans {
    height: 13px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }*/
  
/* the four buttons on the bottom */
 .table-buttons1, .table-buttons2 {   
    margin: 5px;
    background-repeat:no-repeat;
    border: none;
    border-radius: 5px;
    /*width: fit-content;*/
     width: 100px;
    padding: 5px;
    
}

.table-buttons1 {
    color:#f4d58d; /* same as #panelHeader a (side_panel.css)*/
    background-color: #8d0801;
    font-weight: normal;
}

.table-buttons2 {
    background-color: #f4d58d;
    color: #041424;
    font-weight: bold;
}

/* table buttons are in */
.willow_tables {
    margin: 0 auto;
    
}

tr.space_table_cell>td {
    padding-bottom: 2em;
}

/* close button on the top-right corner */
#settings_close_btn {
    float: right;
    background-image: url('../../icons/close.png');
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;

    cursor: pointer;
    background-color: #041424;
    background-size: cover;
    border: none;
    opacity: 1;
    height: 12px;
    width: 12px;
    margin-top: 15px;
    margin-right: 15px; 
    
}

.table-buttons2 {
    background-color: #041424;
    background-size: cover;
    border: none;
    opacity: 1;
    height: 24px;
    width: 24px;
}

#infoBtn.table-buttons2 {
  background-image: url('../../icons/information.png');
}


#howToBtn.table-buttons2 {
    background-image: url('../../icons/question-mark.png');
}

#settings_close_btn:hover, .table-buttons1:hover, .table-buttons2:hover, #resetSizesUniBtn:hover, #resetSizesPRBtn:hover {
    opacity: 0.6;
}

/*radio buttons*/
.layout_radio {
    padding: 15px;
}

#layout_radio_adjust{
    margin-left: 45px;
}