
#settingsMenu {
    position: absolute;
    height: 70%;
    width: 70%;
    top: 15%;
    left: 15%;
    background-color: #041424; /* same as #panelHeader (side_panel.css)*/
    text-align: center;
    border-radius: 20px;
    overflow: auto;
    box-shadow: 2px 2px 5px 2px #8d0801;
     
    user-select: none;
    
    /*animation: appear 0.2s ease forwards;*/
}

/*@keyframes appear {
    0% {opacity: 0;}
    /*30% {opacity: 0.3;}
    70% { opacity: 0.7; /*transform: translateY(50%);}*/
    /*100% { opacity: 0.95; *//*transform: translateY(45%);}
}*/

#menuHeader p {
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    align-items: center;
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/
    line-height: 60px;
    font-size: 32px;
    text-shadow: 2px 2px #8d0801;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.settings-close-button {
    height: 35px;
    width: 100%;
}

/*#menuBody{
    margin-top: 30px;
}*/

.settingElement {
    width: 90%;
    margin: auto;
    border: 1px solid #f4d58d; /* same as #panelHeader a (side_panel.css)*/
    padding: 10px;
    color: #f4d58d; /* same as #panelHeader a (side_panel.css)*/
    
}
.settingElement .label {
    font-family:  'Century Gothic', sans-serif;
    font-size: 16px;
    /*display: inline-block;*/
    text-align: left;
    float: left;
    color: #f4d58d;
    text-shadow: 2px 2px #8d0801;
}

.label.node-size-choice{
    margin-top: 7px;
}

/*.label.layout-choice{
    padding-top: 4.5px;
    padding-bottom: 4.5px;
}*/

/*.settingElement .label .layout-choice{
    margin-top: 10px;
}*/

.settingElement .opt {
    display: inline-block;
    text-align: right;
    margin-inline: 5px;
}

.opt button{
    font-family: 'Century Gothic', sans-serif;
    font-size: 14px;
    color:#f4d58d; /* same as #panelHeader a (side_panel.css)*/
    background-color: #8d0801;/*#911111;*/
    border-radius: 5px;
    border: none;
    font-weight: normal;
    padding: 3px;
    width: 120px;
    box-shadow: 1px 2px 2px #f4d58d;
    text-shadow: 0.5px 0.5px #708d81;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.opt button:active {
    background-color: #bf0603;
    box-shadow: 1px 1px 2px #f4d58d;
    transform: translateY(1px);
}

#resetSizesPRBtn {
    margin-left: 20px;
}

/*Transparency*/
/*
#sliderTrans {
    height: 13px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }*/
  
/* the four buttons on the bottom */
 .table-buttons1, .table-buttons2 {   
    margin: 5px;
    background-repeat:no-repeat;
    border: none;
    border-radius: 5px;
    /*width: fit-content;*/
     width: 120px;
    padding: 5px;
    cursor: pointer;
}

.table-buttons1 {
    color:#f4d58d; /* same as #panelHeader a (side_panel.css)*/
    background-color: #8d0801;
    font-weight: normal;
    font-family: 'Century Gothic', sans-serif;
    font-size: 14px;
    box-shadow: 1px 2px 2px #f4d58d;
    text-shadow: 0.5px 0.5px #708d81;
}

/*.table-buttons1.histBtn{
    color:#041424; /* same as #panelHeader a (side_panel.css)*//*
    background-color: #708d81;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    font-size: 14px;
    box-shadow: 1px 2px 2px #f4d58d;
    text-shadow: 0.5px 0.5px #f4d58d;
}*/

.table-buttons1:active {
    background-color: #bf0603;
    box-shadow: 1px 1px 2px #f4d58d;
    transform: translateY(1px);
}

.table-buttons2 {
    background-color: #f4d58d;
    color: #041424;
    font-weight: bold;
}

.table-buttons2:active {
    transform: translateY(2px);
}

/* table buttons are in */
.willow_tables {
    margin: 0 auto;
    
}

tr.space_table_cell>td {
    padding-bottom: 2em;
}

/* close button on the top-right corner */
#settings_close_btn {
    float: right;
    background-image: url('../../icons/close.png');
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;

    cursor: pointer;
    /*background-color: #041424;*/
    background-size: cover;
    border: none;
    opacity: 1;
    height: 16px;
    width: 16px;
    margin: 0%;
    padding: 0%;
    margin-top: 15px;
    margin-right: 17px; 

    background-color: transparent;
    filter: drop-shadow(2px 2px #8d0801);
    
}

#settings_close_btn:active {
    transform: translateY(2px);
}

.table-buttons2 {
    background-color: #041424;
    background-size: cover;
    border: none;
    opacity: 1;
    height: 32px;
    width: 32px;
}

#infoBtn.table-buttons2 {
  background-image: url('../../icons/information.png');
}


#howToBtn.table-buttons2 {
    background-image: url('../../icons/question-mark.png');
}

.table-buttons1:hover, .opt button:hover {
    /*opacity: 0.6;*/
    background-color: #bf0603;
    /*border-radius: 5px;*/
}

#settings_close_btn:hover, .table-buttons2:hover {
    opacity: 0.3;
}

/*radio buttons*/
.layout_radio {
    font-family: 'Century Gothic', sans-serif;
    font-size: 14px;
    padding: 15px;
    text-shadow: 0.5px 0.5px #8d0801;
}

#layout_radio_adjust{
    margin-left: 45px;
}