/*
 * Some of the default dimensions of the side panel are defined
 * as constants at the very top of SidePanel.js
 */

/* ! NOTES ON STYLING
 * In each ruleset, the declarations below the dashed comment line 
 * are styling-flexible. The ones above it should not be modified.
 */

#sidePanel {
  height: 100%;
  position: fixed;
  width: 0; /* initially 0 so that we do not see a glimpse of the panel when loading a page*/
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  /*---------------*/
  background-color: rgba(77, 3, 3, 0.993);
  /*transition: all 2s ease-out; */
}

#panelHeader {
  width: 100%;
  background-color: rgba(3, 72, 77, 0.993);
  /*---------------*/
  height: 70px;
  text-align: center;
}

/* applies to the Willow label, the undock button and the close button */
/* We may want separate styles for the label and the buttons. Then, use 
 * the rulesets .headerBtn and #willowLabel.
 */
#panelHeader a {
  /*---------------*/
  text-decoration: none;
  cursor: pointer; /* shows text cursor by default*/
  margin: 0 auto;
  font-size: 48px;
  color: #16f095;
  line-height: 70px;  /*! has to be the same as #panelHeader's height for the text to be vertically centered */
  font-family:'Gabriola';
  /* transition: all 4s; */
}

#panelHeader a:hover {
  /*---------------*/
  color: #f1f1f1;
}
.headerBtn {
  /*---------------*/
  padding: 0px 16px 0px 0px;
  float: right;
}
#willowLabel {
  /*---------------*/
  padding: 0px 0px 0px 16px;
  float: left;
}

#panelBody {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  /*---------------*/
  top: 70px; /*! has to be the same as #panelHeader's height */
  background-color: rgba(77, 3, 3, 0.993);
}

/*
 * BORDERS
 */
.border {
  position: absolute;
  /*---------------*/
  background-color: rgba(1, 49, 53, 0.993);
}

#leftBorder {
  height: 100%;
  top: 0;
  left: 0;
  /*---------------*/
  width: 5px;
}

#rightBorder {
  height: 100%;
  top: 0;
  right: 0;
  cursor: ew-resize;
  /*---------------*/
  width: 5px;
}

#topBorder {
  width: 100%;
  top: 0;
  left: 0;
  /*---------------*/
  height: 5px;
}

#bottomBorder {
  width: 100%;
  bottom: 0;
  left: 0;
  /*---------------*/
  height: 5px;
}

#graphFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /*---------------*/
  background-color: rgba(1, 234, 255, 0.993);
}

#graphInvisLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /*---------------*/
}