/*
 * Some of the default dimensions of the side panel are defined
 * as constants at the very top of SidePanel.js
 */

/* ! NOTES ON STYLING
 * In each ruleset, the declarations below the dashed comment line 
 * are styling-flexible. The ones above it should not be modified.
 */

#sidePanel {
  height: 100%;
  position: fixed;
  width: 0; /* initially 0 so that we do not see a glimpse of the panel when loading a page*/
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  /*---------------*/
  border-radius: 5px;
  /*transition: all 2s ease-out; */
}

#panelHeader {
  width: 100%;

  /*---------------*/
  height: 70px;
  text-align: center;
  background-color: #041424; /*#001d3d*/
}

/* applies to the Willow label, the undock button and the close button */
/* We may want separate styles for the label and the buttons. Then, use 
 * the rulesets .headerBtn and #willowLabel.
 */
#panelHeader a {
  /*---------------*/
    
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-decoration: none;
  cursor: pointer; /* shows text cursor by default*/
  margin: 0 auto;
  font-size: 44px;
  color: #f4d58d; /*ab0321*/
  line-height: 70px;  /*! has to be the same as #panelHeader's height for the text to be vertically centered */
  /*It seemed vertically more centered (with the added tooltips) when the heights did not match.*/
  
  font-family:'Montserrat', sans-serif;
  /* transition: all 4s; */
}

#panelHeader a:hover {
  /*---------------*/
  color: #f1f1f1;
}

.headerBtn {
  /*---------------*/
  padding: 0px 16px 0px 0px;
  float: right;
  height: 44px;
}

#willowLabel.override {
  /*---------------*/
  padding-right: 140px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 12px;

}

#willowLabel:hover {
  /*---------------*/
  color: #8d0801
}

#panelBody {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  /*---------------*/
  top: 70px; /*! has to be the same as #panelHeader's height */
}

/*
 * BORDERS
 */
.border {
  position: absolute;
  /*---------------*/
  background-color: #a8a8a8; /*#5e6472*/
}

#leftBorder {
  height: 100%;
  top: 0;
  left: 0;
  /*---------------*/
  width: 3px;
}

#rightBorder {
  height: 100%;
  top: 0;
  right: 0;
  cursor: ew-resize;
  /*---------------*/
  width: 3px;
}

#topBorder {
  width: 100%;
  top: 0;
  left: 0;
  /*---------------*/
  height: 3px;
}

#bottomBorder {
  width: 100%;
  bottom: 0;
  left: 0;
  /*---------------*/
  height: 3px;
}

#graphFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /*---------------*/
  background-image: linear-gradient(to right, #f4d58d, #708d81); /*linear-gradient(to right, #cbdcf2, #91bbd9);*/ /*yesil 708d81*/
  /*background-color: #540B0E;*/
  opacity: 0.95; /*0.87*/
  
}

#graphInvisLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /*---------------*/
}

#willowIcon {
  border-radius: 30%;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

/*
 * TOOLTIP
 */
#closeBtn, #dockBtn, #undockBtn ,#resetBtn, #centerBtn{
  position: relative;
  display: inline;
}

#undockBtn .dockText, #closeBtn .closeText, #dockBtn .dockText ,#resetBtn .resetText, #centerBtn .centerText {
  
  visibility: hidden;
  font-size: 12px;
  color: #fff;
  height: 30px;
  font-family : 'Open Sans';
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -25%;
  
}

#undockBtn .dockText {
  right: 5%;
}

#closeBtn .closeText, #dockBtn .dockText ,#resetBtn .resetText, #centerBtn .centerText{
  right: 30%;
}

#closeBtn:hover .closeText, #dockBtn:hover .dockText, #undockBtn:hover .dockText ,#resetBtn:hover .resetText, #centerBtn:hover .centerText{
  visibility: visible;
}