#sidePanel {
  height: 100%; /* covers whole iframe */
  position: fixed;
  width: 0; /* initially 0 so that we do not see a glimpse of it when loading */
  top: 0;;
  left: 0;
  overflow-x: hidden;
  background-color: rgba(20, 77, 3, 0.993);
}

#panelHeader {
  height: 70px;
  width: 400px; /* there probably is a way to automatically make this as large as the parent div*/
  background-color: rgba(3, 72, 77, 0.993);
}

#panelHeader a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 20px;
  color: #16f095;
  transition: 0.3s;
  font-family:'Gabriola';
  z-index: 9999;
}

#panelHeader a:hover {
  color: #f1f1f1;
}

#panelBody {
  position: absolute;
  top: 70px;
  bottom: 0%;
  left: 0;
  width: 400px; /* there probably is a way to automatically make this as large as the parent div*/
  background-color: rgba(77, 3, 3, 0.993);
}